$primary-color: hsl(179, 62%, 43%);
$primary-color2: hsl(179, 62%, 48%);
$special-color: hsl(71, 73%, 54%);
$text-color:white;
$font-size:1rem;
$text-style:'Karla', sans-serif;
$grayish:hsl(218, 22%, 67%);
$light-gray:hsl(204, 43%, 93%);